<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Assistant:400,600,700,800|Open+Sans:400,700&amp;subset=hebrew" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	<div class="overflow-content">
	@import "mobile-menu.html"
	<div class="transform-content">
		<div class="transform-content-overlay"></div>
		@import "header.html"
		<main class="catalog">
			<section class="catalog-top">
				<h1 class="catalog-title">ריפוד לריהוט גן</h1>
			</section>
			<section class="catalog-content">
				<div class="container">
					<div class="catalog-flex">
						<div class="catalog-left">
							<h4 class="catalog-left-title">ריפוד לריהוט גן</h4>
							<div class="catalog-filter">
								<div class="catalog-filter-col">
									<div class="product-form-item product-form-item_catalog">
										<select class="product-form-select" required="">
											<option value="" disabled="" selected="" hidden="" class="product-form-option">קפיטונז</option>
											<option value="first" class="product-form-option">Fisrt</option>
											<option value="second" class="product-form-option">Second</option>
											<option value="third" class="product-form-option">Third</option>
										</select>
									</div>
									<p class="product-form-label">סוג ר</p>
								</div>
								<div class="catalog-filter-col">
									<div class="product-form-item product-form-item_catalog">
										<select class="product-form-select" required="">
											<option value="" disabled="" selected="" hidden="" class="product-form-option">קפיטונז</option>
											<option value="first" class="product-form-option">Fisrt</option>
											<option value="second" class="product-form-option">Second</option>
											<option value="third" class="product-form-option">Third</option>
										</select>
									</div>
									<p class="product-form-label">סוג ר</p>
								</div>
								<div class="catalog-filter-col">
									<div class="product-form-item product-form-item_catalog">
										<select class="product-form-select" required="">
											<option value="" disabled="" selected="" hidden="" class="product-form-option">קפיטונז</option>
											<option value="first" class="product-form-option">Fisrt</option>
											<option value="second" class="product-form-option">Second</option>
											<option value="third" class="product-form-option">Third</option>
										</select>
									</div>
									<p class="product-form-label">סוג ר</p>
								</div>
								<div class="catalog-filter-col">
									<div class="product-form-item product-form-item_catalog">
										<select class="product-form-select" required="">
											<option value="" disabled="" selected="" hidden="" class="product-form-option">קפיטונז</option>
											<option value="first" class="product-form-option">Fisrt</option>
											<option value="second" class="product-form-option">Second</option>
											<option value="third" class="product-form-option">Third</option>
										</select>
									</div>
									<p class="product-form-label">סוג ר</p>
								</div>
								<div class="catalog-filter-col">
									<div class="product-form-item product-form-item_catalog">
										<select class="product-form-select" required="">
											<option value="" disabled="" selected="" hidden="" class="product-form-option">קפיטונז</option>
											<option value="first" class="product-form-option">Fisrt</option>
											<option value="second" class="product-form-option">Second</option>
											<option value="third" class="product-form-option">Third</option>
										</select>
									</div>
									<p class="product-form-label">סוג ר</p>
								</div>
							</div>
							<div class="catalog-list">
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
								<div class="catalog-item">
									<img src="img/catalog-item.jpg" alt="" class="catalog-item-img">
									<p class="catalog-item-name">כרית נוי שבילים ירוקים</p>
									<div class="catalog-item-row">
										<span class="catalog-item-number">+22</span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>
										<span class="catalog-item-color catalog-item-color_red"></span>

									</div>
									<div class="catalog-item-sale"> ₪ <span>החל מ-</span>49</div>
									<a href="" class="product-btn_catalog product-btn_cart btn "> הוסף לסל <img src="img/cart.png" alt="" class="product-btn-img"></a>
								</div>
							</div>
						</div>
						<div class="product-right">
							<h5 class="product-right-title">קטגוריות</h5>
							<ul class="product-right-list">
								<li class="product-right-item">
									<span class="product-right-more">+</span>
									<a href="" class="product-right-link">ריפוד לריהוט גן</a>
									<ul class="product-right-sublist">
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
									</ul>
								</li>
								<li class="product-right-item">
									<span class="product-right-more">+</span>
									<a href="" class="product-right-link">פינות זולה</a>
									<ul class="product-right-sublist">
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
									</ul>
								</li>
								<li class="product-right-item">
									<span class="product-right-more">+</span>
									<a href="" class="product-right-link">כריות נוי</a>
									<ul class="product-right-sublist">
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
									</ul>
								</li>
								<li class="product-right-item">
									<a href="" class="product-right-link">פופים</a>
								</li>
								<li class="product-right-item">
									<a href="" class="product-right-link">הדום ישיבה</a>
								</li>
								<li class="product-right-item">
									<a href="" class="product-right-link">כריות ישיבה</a>
								</li>
								<li class="product-right-item">
									<span class="product-right-more">+</span>
									<a href="" class="product-right-link">מילוי לכריות</a>
									<ul class="product-right-sublist">
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
									</ul>
								</li>
								<li class="product-right-item">
									<a href="" class="product-right-link">פינות ישיבה</a>
								</li>
								<li class="product-right-item">
									<a href="" class="product-right-link">כיסוי לריהוט גן</a>
								</li>
								<li class="product-right-item">
									<span class="product-right-more">+</span>
									<a href="" class="product-right-link">מיטות לכלבים</a>
									<ul class="product-right-sublist">
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
									</ul>
								</li>
								<li class="product-right-item">
									<span class="product-right-more">+</span>
									<a href="" class="product-right-link">מוצרי עץ</a>
									<ul class="product-right-sublist">
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
										<li class="product-right-subitem">
											<a href="" class="product-right-sublink">ריפוד לריהוט גן</a>
										</li>
									</ul>
								</li>
								<li class="product-right-item">
									<a href="" class="product-right-link">כרית סוכריה</a>
								</li>
							</ul>
							<div class="product-right-center">
								<span class="product-right-text product-right-text_white">הזמנה</span>
								<span class="product-right-text product-right-text_black">לפי מידה</span>
							</div>
							<div class="product-right-bottom">
								<div class="product-right-bottom-content">
									<p class="product-right-bottom-text">מבצעי החודש</p>
									<a href="" class="product-right-bottom-btn btn">
										<img src="img/arrows-btn.png" alt="" class="product-right-bottom-img">
										לחץ כאן
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		@import "footer.html"
	</div>
</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
